---
layout: page
title: O nas
permalink: /about/
list:
  -
    inverted: false
    img: 1.jpg
    time: 2009-2011
    subheading: Our Humble Beginnings
    text: >-
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
  -
    inverted: true
    img: 2.jpg
    time: March 2011
    subheading: An Agency is Born
    text: >-
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
  -
    inverted: false
    img: 3.jpg
    time: December 2012
    subheading: Transition to Full Service
    text: >-
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
  -
    inverted: true
    img: 4.jpg
    time: July 2014
    subheading: Phase Two Expansion
    text: >-
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
---
<section>
  <div class="col-lg-12">
    <ul class="timeline">
    {% for entry in page.list %}
      <li {% if entry.inverted %} class="timeline-inverted" {% endif %}>
        <div class="timeline-image">
          <img class="rounded-circle img-fluid" src="img/about/{{ entry.img }}" alt="">
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>{{ entry.time }}</h4>
            <h4 class="subheading">{{ entry.subheading }}</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">{{ entry.text }}</p>
          </div>
        </div>
      </li>
    {% endfor %}
      <li class="timeline-inverted">
        <div class="timeline-image">
          <h4>Be Part
            <br>Of Our
            <br>Story!</h4>
        </div>
      </li>
    </ul>
  </div>
</section>
<section>
  Sekcja oferuje możliwość treningu w dwóch grupach według poziomu wyszkolenia – początkującej i zaawansowanej. Sekcję wyróżnia bogata gama treningów – w sekcji zaawansowanej aż 4 razy w tygodniu!

  Wykorzystywane w zajęciach jest bogate zaplecze sprzętowe, znacząco uatrakcyjniające i usprawniające trening. Zajęcia odbywają się na dwóch salach, o odrębnych walorach treningowych. Sekcja wykorzystuje worki, gruszki, tarcze i inny sprzęt treningowy.

  Cyklicznie organizowane są obozy szkoleniowe w Rabce i Zakopanem. Trenujący pogłębiają na nich swoją wiedzę o karate, uczestniczą w intensywnych treningach oraz biorą udział w egzaminach na wyższe stopnie szkoleniowe(potocznie – pasy).

  Inną aktywnością Sekcji są pokazy charakteryzujące się dynamiką i efektownością technik.

  Charakter treningów gwarantuje uczestnikom wielopłaszczyznowe korzyści. Dla niektórych najistotniejsza jest możliwość osiągnięcia wysokiej sprawności fizycznej, doskonalenia umiejętności walki i realnej samoobrony oraz zdawania na kolejne stopnie szkoleniowe(pasy), co gwarantuje profesjonalny program treningowy i możliwość uczestnictwa w dużej ilości treningów w tygodniu. Dla innych natomiast treningi Karate Kyokushin są doskonałą okazją do relaksu po pracy czy zajęciach na uczelni, utrzymania sprawności fizycznej i pogłębiania ogólnego stanu zdrowia.
</section>
