<div class="container second-portion">
  <div class="row">
  <div class="col-xs-12 col-sm-6 col-lg-4">
  <div class="box">
  <div class="icon">
    <div class="image"><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i></div>
    <div class="info">
      <h3 class="title">E-MAIL</h3>
      <p>
        <i class="glyphicon glyphicon-envelope" aria-hidden="true"></i> {{ site.email }}
        <br>
      </p>
    </div>
  </div>
  <div class="space"></div>
  </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-lg-4">
  <div class="box">
  <div class="icon">
    <div class="image"><i class="glyphicon glyphicon-phone" aria-hidden="true"></i></div>
    <div class="info">
      <h3 class="title">KONTAKT</h3>
        <p>
        <i class="glyphicon glyphicon-phone" aria-hidden="true"></i> Sensei Witold Zurzycki 508 101 717
        <br>
        <br>
        <i class="glyphicon glyphicon-phone" aria-hidden="true"></i> Prezes Zarządu Jasiński Marcin 508 162 340
      </p>
    </div>
  </div>
  <div class="space"></div>
  </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-lg-4">
  <div class="box">
  <div class="icon">
    <div class="image"><i class="fa fa-facebook" aria-hidden="true"></i></div>
    <div class="info">
      <h3 class="title">DOŁĄCZ DO NAS NA FACEBOOKU</h3>
      <p>
        <i class="glyphicon glyphicon-globe" aria-hidden="true"></i> &nbsp; 15/3 Junction Plot
        "Shree Krishna Krupa", Rajkot - 360001.
      </p>
    </div>
  </div>
  <div class="space"></div>
  </div>
  </div>
  </div>
</div>
