<nav class="navbar navbar-inverse navbar-fixed-top navbar-fancy">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}

    <style type="text/css">
      a.page-link {
        font-weight: bolder;
      }
    </style>

    <div class="navbar-header">
      <div class="navbar-header">
        <a class="navbar-brand page-link" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
      </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a class="page-link" href="{{ "/" | relative_url }}#about">O nas</a></li>
        <li><a class="page-link" href="{{ "/" | relative_url }}#trenings">Treningi</a></li>
        <li><a class="page-link" href="{{ "/" | relative_url }}#contact">Kontakt</a></li>
        {% for path in page_paths %}
          {% assign my_page = site.pages | where: "path", path | first %}
          {% if my_page.title %}
            <li><a class="page-link" href="{{ my_page.url | relative_url }}">
              {{ my_page.title | escape}}
            </a></li>
          {% endif %}
        {% endfor %}
        <li><a class="page-link" href="https://www.facebook.com/KyokushinAGH/photos">Galeria</a></li>
        <li><a style="padding: 0px 0px;" class="page-link" href="https://www.facebook.com/KyokushinAGH">
          <img src="{{ "/assets/images/fb.svg" | relative_url }}" height="50px"></img>
        </a></li>
      </ul>
    </div>
  </div>
</nav>
