---
layout: default
---
<header>
  <script type="text/javascript">
    $(document).ready(function () {
      var $window = $(window)
      var $nav = $('nav')
      var stickyNavTop = 0
      var fancyClass = 'navbar-fancy'

      var updateNavClass = function () {
        if ($window.scrollTop() > stickyNavTop) {
          $nav.removeClass(fancyClass)
        } else {
          $nav.addClass(fancyClass)
        }
      }

      $window.on('resize', function () {
        stickyNavTop = $nav.offset().top;
      });

      $window.on('scroll', updateNavClass)

      updateNavClass()
    });
  </script>

  <div id="extraNavbar">
    <div id="extraNavbarOverlay"></div>
    {% include navbar.html %}
    <div class="inspirational-quote">
      <h1>Osiemdziesiąt procent sukcesu to przyjść<small>Woody Allen</small></h1>
    </div>
  </div>
</header>

<main class="page-content" aria-label="Content">
  {{ content }}
</main>
