---
layout: default
---
<article class="post">
  <!-- <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for news in site.categories.news %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ news.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ news.url | relative_url }}">{{ news.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul> -->

  <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">O nas</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <ul class="timeline">
              <li>
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="img/about/1.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2009-2011</h4>
                    <h4 class="subheading">Our Humble Beginnings</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="img/about/2.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>March 2011</h4>
                    <h4 class="subheading">An Agency is Born</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="img/about/3.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>December 2012</h4>
                    <h4 class="subheading">Transition to Full Service</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="img/about/4.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>July 2014</h4>
                    <h4 class="subheading">Phase Two Expansion</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <h4>Be Part
                    <br>Of Our
                    <br>Story!</h4>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section>
      Sekcja oferuje możliwość treningu w dwóch grupach według poziomu wyszkolenia – początkującej i zaawansowanej. Sekcję wyróżnia bogata gama treningów – w sekcji zaawansowanej aż 4 razy w tygodniu!

      Wykorzystywane w zajęciach jest bogate zaplecze sprzętowe, znacząco uatrakcyjniające i usprawniające trening. Zajęcia odbywają się na dwóch salach, o odrębnych walorach treningowych. Sekcja wykorzystuje worki, gruszki, tarcze i inny sprzęt treningowy.

      Cyklicznie organizowane są obozy szkoleniowe w Rabce i Zakopanem. Trenujący pogłębiają na nich swoją wiedzę o karate, uczestniczą w intensywnych treningach oraz biorą udział w egzaminach na wyższe stopnie szkoleniowe(potocznie – pasy).

      Inną aktywnością Sekcji są pokazy charakteryzujące się dynamiką i efektownością technik.

      Charakter treningów gwarantuje uczestnikom wielopłaszczyznowe korzyści. Dla niektórych najistotniejsza jest możliwość osiągnięcia wysokiej sprawności fizycznej, doskonalenia umiejętności walki i realnej samoobrony oraz zdawania na kolejne stopnie szkoleniowe(pasy), co gwarantuje profesjonalny program treningowy i możliwość uczestnictwa w dużej ilości treningów w tygodniu. Dla innych natomiast treningi Karate Kyokushin są doskonałą okazją do relaksu po pracy czy zajęciach na uczelni, utrzymania sprawności fizycznej i pogłębiania ogólnego stanu zdrowia.
    </section>

</article>
