<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

<head>
    {% include head.html %}

    {% if page.navbar == 'extraNavbar.html' %}
        <script type="text/javascript" src="{{ "/assets/js/extraNavbar.js" | relative_url }}"></script>
    {% endif %}
</head>

<body>

<header>
    {% include {{ page.navbar }} %}
</header>

<main class="page-content" aria-label="Content">
    {{ content }}
</main>

<footer class="site-footer">
    {% include footer.html %}
</footer>

</body>

</html>
