---
layout: default
---

<div class="home">

  {{ content }}

  <div class="container">
    UOS Sokół AGH
  </div>

  <section class="content-section-a">

      <div class="container">
        <div class="row">
          <div class="col-lg-5 ml-auto">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">Doświadczenie</h2>
            <p class="lead">Treningi w Sekcji Karate Kyokushin UOS “Sokół” prowadzone są przez sensei Witolda Zurzyckiego, wieloletniego trenera Karate Kyokushin.</p>
          </div>
          <div class="col-lg-5 mr-auto">
            <img class="img-fluid" src="{{ "/assets/images/karate2.jpg" | relative_url }}" alt="">
          </div>
        </div>

      </div>
      <!-- /.container -->
    </section>
    <section class="content-section-b">

      <div class="container">

        <div class="row">
          <div class="col-lg-5 ml-auto order-lg-1">
            <img class="img-fluid" src="{{ "/assets/images/karate3.jpg" | relative_url }}" alt="">
          </div>
          <div class="col-lg-5 mr-auto order-lg-2">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">Różnorodność</h2>
            <p class="lead">Wiele różnych wariacji treningowy</p>
          </div>
        </div>

      </div>
      <!-- /.container -->

    </section>

    <!-- Services -->
    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">UOS Sokół AGH</h2>
            <h3 class="section-subheading text-muted">Dlaczego warto trenować Karate Kyokushin?</h3>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-red"></i>
              <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Zdrowie</h4>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-smile-o fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Dobre samopoczucie</h4>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-green"></i>
              <i class="fa fa-users fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Więzi z innymi</h4>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
          </div>
        </div>
      </div>
    </section>
</div>
