<div id="about" class="row text-center">
  <h3>O nas</h3>
</div>

<div class="row">
  Sekcja oferuje możliwość treningu w dwóch grupach według poziomu wyszkolenia – początkującej i zaawansowanej. Sekcję wyróżnia bogata gama treningów – w sekcji zaawansowanej aż 4 razy w tygodniu!

  Wykorzystywane w zajęciach jest bogate zaplecze sprzętowe, znacząco uatrakcyjniające i usprawniające trening. Zajęcia odbywają się na dwóch salach, o odrębnych walorach treningowych. Sekcja wykorzystuje worki, gruszki, tarcze i inny sprzęt treningowy.

  Cyklicznie organizowane są obozy szkoleniowe w Rabce i Zakopanem. Trenujący pogłębiają na nich swoją wiedzę o karate, uczestniczą w intensywnych treningach oraz biorą udział w egzaminach na wyższe stopnie szkoleniowe(potocznie – pasy).

  Inną aktywnością Sekcji są pokazy charakteryzujące się dynamiką i efektownością technik.

  Charakter treningów gwarantuje uczestnikom wielopłaszczyznowe korzyści. Dla niektórych najistotniejsza jest możliwość osiągnięcia wysokiej sprawności fizycznej, doskonalenia umiejętności walki i realnej samoobrony oraz zdawania na kolejne stopnie szkoleniowe(pasy), co gwarantuje profesjonalny program treningowy i możliwość uczestnictwa w dużej ilości treningów w tygodniu. Dla innych natomiast treningi Karate Kyokushin są doskonałą okazją do relaksu po pracy czy zajęciach na uczelni, utrzymania sprawności fizycznej i pogłębiania ogólnego stanu zdrowia.
</div>
