<div id="about" class="row text-center">
  <h2>O nas</h2>
</div>

<div class="row text-justify">
  Sekcja prowadzi treningi tak dla początkujących jak i zaawansowanych. Jeżeli zaczynasz przygodę ze sztukami walki przyjdź do grupy początkującej. Trzy treningi w tygodniu pozwolą ci nabrać ogłady i dołączyć do grupy zaawansowanej. Zajęcia zaawansowane są zawsze pierwsze. Potrzebujesz więcej ruchu? Zostań na drugie zajęcia; możesz uczestniczyć we wszystkich sześciu spotkaniach.
  <br/>
  <br/>
  Każdy trening jest inny. Raz ćwiczymy na sprzęcie (worki, gruszki, tarcze i inne), kiedy indziej w parach. Bogate zaplecze sprzętowe, znacząco uatrakcyjnia i usprawnia ćwiczenia. Zajęcia odbywają się w dwóch lokalizacjach w salach o odmiennych walorach.
  <br/>
  <br/>
  Cyklicznie organizowane są obozy szkoleniowe w Rabce i Zakopanem. Trenujący pogłębiają na nich swoją wiedzę o karate, uczestniczą w intensywnych treningach oraz biorą udział w egzaminach na wyższe stopnie szkoleniowe (potocznie – pasy).
  <br/>
  <br/>
  Charakter treningów gwarantuje uczestnikom wielopłaszczyznowe korzyści. Profesjonalny program treningowy umożliwia osiągnięcia wysokiej sprawności fizycznej, doskonalenia umiejętności walki i realnej samoobrony. Aby dowieść swoich umiejętności możesz przystąpić do egzaminu. Poza tym warto pamiętać, że treningi Karate Kyokushin są doskonałą okazją do relaksu po pracy czy zajęciach na uczelni, rozwoju sprawności fizycznej i utrzymania się w zdrowiu.
</div>
