<div id="trenings" class="row text-center">
  <h3>Treningi</h3>
</div>

<div class="row">
  <div class="col-xs-12 col-md-2">
    <div class="row">
      <div class="col-xs-3 col-md-12 ">
        poniedziałek
      </div>
      <div class="col-xs-3 col-md-12 ">
        18:15-20:00 zaawansowana
      </div>
      <div class="col-xs-3 col-md-12 ">
        20:00-21:30 początkująca
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-2">
    <div class="row">
      <div class="col-xs-2 col-md-12 ">
        wtorek
      </div>
      <div class="col-xs-5 col-md-12 ">
        19:30-20:45 zaawansowana
      </div>
      <div class="col-xs-5 col-md-12 ">
        20:45-22:15 początkująca
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-2">
    <div class="row">
      <div class="col-xs-3 col-md-12 ">
        środa
      </div>
      <div class="col-xs-9 col-md-12">
        &nbsp;
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-2">
    <div class="row">
      <div class="col-xs-3 col-md-12 ">
        czwartek
      </div>
      <div class="col-xs-9 col-md-12 ">
        &nbsp;
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-2">
    <div class="row">
      <div class="col-xs-3 col-md-12 ">
        piątek
      </div>
      <div class="col-xs-9 col-md-12 ">
        &nbsp;
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-2">
    <div class="row">
      <div class="col-xs-2 col-md-12 ">
        sobota
      </div>
      <div class="col-xs-5 col-md-12 ">
        11:00-12:30 zaawansowana
      </div>
      <div class="col-xs-5 col-md-12 ">
        12:30-14:00 początkująca
      </div>
    </div>
  </div>
</div>
