<div id="trenings" class="row text-center">
  <h2>Treningi</h2>
</div>

<style type="text/css">
  div.bottom-separate {
    border-bottom-style: solid;
  }
</style>

<div class="row" style="font-size: large">
  <div class="col-xs-12 col-md-4">
    <div class="row">
      <div class="col-xs-3 col-md-12">
        <h3>poniedziałek</h3>
      </div>
      <div class="col-xs-3 col-md-12 bottom-separate">
        18:15-20:00 grupa zaawansowana
      </div>
      <div class="col-xs-3 col-md-12">
        20:00-21:30 grupa początkująca
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-4">
    <div class="row">
      <div class="col-xs-2 col-md-12">
        <h3>wtorek</h3>
      </div>
      <div class="col-xs-5 col-md-12 bottom-separate">
        19:30-20:45 grupa zaawansowana
      </div>
      <div class="col-xs-5 col-md-12">
        20:45-22:15 grupa początkująca
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-4">
    <div class="row">
      <div class="col-xs-2 col-md-12">
        <h3>sobota</h3>
      </div>
      <div class="col-xs-5 col-md-12 bottom-separate">
        11:00-12:30 grupa zaawansowana
      </div>
      <div class="col-xs-5 col-md-12">
        12:30-14:00 grupa początkująca
      </div>
    </div>
  </div>
</div>
