<div class="row text-center">
  <h2>Jak się zapisać?</h2>
</div>

<div class="row">
  <div class="col-md-8">
    <img src="{{ "/assets/images/group_black.jpg" | relative_url }}" width="100%"/>
  </div>
  <div class="col-md-4 col-xs-12 text-justify">
    Wystarczy przyjść do nas na trening. Jeżeli nie jesteś pewien, czy karate ci się spodoba, przyjdź na kilka treningów „na próbę”, zanim podejmiesz decyzję. Zapraszamy wszystkich, nie tylko studentów.
    </br>
    </br>
    Jeżeli masz jakiekolwiek wątpliwości lub po prostu chcesz dowiedzieć się czegoś więcej, zapytaj bardziej doświadczonych kolegów i koleżanek.
    <h1 style="color: #00bfff">dołącz do nas!</h1>
  </div>
</div>
