<div class="row text-center">
  <h2>Dlaczego warto trenować Karate Kyokushin?</h2>
</div>

<div class="row text-center">
  <div class="col-md-4">
    <span class="fa-stack fa-4x">
      <i class="fa fa-circle fa-stack-2x text-red"></i>
      <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
    </span>
    <h4 class="">Zdrowie</h4>
    <p class="text-muted">
      Ciało podlega nieustannym zmianom. Zdrowie nie jest czymś co można jednorazowo osiągnąć. Jest jak płomyk; wymaga ciągłej troski. Trzeba wciąż poddawać się testom i zmagać z przeszkodami. Regularne uczestnictwo w treningach jest doskonałym sposobem, aby podsycać ten płomyk.
    </p>
  </div>
  <div class="col-md-4">
    <span class="fa-stack fa-4x">
      <i class="fa fa-circle fa-stack-2x text-primary"></i>
      <i class="fa fa-smile-o fa-stack-1x fa-inverse"></i>
    </span>
    <h4 class="">Dobre samopoczucie</h4>
    <p class="text-muted">
      Regularna aktywność fizyczna pozwala nam cieszyć się w pełni życiem. Praca, uczelnia, obowiązki obciążają nas i garbią plecy. Trening pozwoli wyjść ci ze skorupy; głęboki wdech wyprostuje plecy, rozciąganie wyluzuje spięte mięśnie.
    </p>
  </div>
  <div class="col-md-4">
    <span class="fa-stack fa-4x">
      <i class="fa fa-circle fa-stack-2x text-green"></i>
      <i class="fa fa-users fa-stack-1x fa-inverse"></i>
    </span>
    <h4 class="">Doborowe towarzystwo</h4>
    <p class="text-muted">
      Wśród nas są studenci i absolwenci krakowskich uczelni. Wielu rozpoczęło przygodę z karate na studiach i trenuje do dziś. Trenujemy i jeździmy razem na obozy. Przyjdź i zostań z nami! Warto!
    </p>
  </div>
</div>
